<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home :D</title>
</head>
<body>
    <h1>User list</h1>

    <ul>
        {% for user in users %}
        <li>{{ user.name }} - {{ user.contact }} | <a href="{{ url_for('update', query=id, id=user.id) }}">Update</a> | <a href="{{ url_for('delete', query=id, id=user.id) }}">Delete</a></li>
        <!-- When you write '{{ url_for('delete', query=id, id=user.id) }}', it generates a URL like '/delete?query=id&id=some_user_id'. Basically, it turns the keyword arguments into query parameters. -->
        <!-- Another way to write this href is '/delete/{{ user.id }}' -->
        {% endfor %}
    </ul>

    <a href="{{ url_for('register') }}">Register</a>
</body>
</html>