<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Congratulations</h1>
    <p>The <span style="color: rgb(0, 162, 255);">blueprint</span> route for use HTML archives is working!</p>

    <img src="{{ url_for('html.static', filename='img/yotsuba.jpg') }}" alt="Yotsuba">
</body>
</html>